@model MovieModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


<form method="post" asp-action="MovieSearch">
Search for movie <input type="text" name="Title" />
<input type="submit" />

</form>

@{
    if(Model != null)
    {
        <h1>Title: @Model.Title</h1>        
        <img src="@Model.Poster">       
        <h1>Director: @Model.Director</h1>        
        <h1>Rating @Model.Rated</h1>        
        <h1>Plot: @Model.Plot</h1>        
    }
}


